<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-1 bg-dark">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="exampleModalLabel">{{title}}</h5>
            </div>
            <div class="modal-body">
                <div class="row card-body">
                    <div class="col-5 m-3" style="padding: 0;">
                        <ul *ngIf="client" class="list-group">
                            <li class="list-group-item"><span class="properties">Name:</span> {{client.name}}</li>
                            <li class="list-group-item"><span class="properties">Lastname:</span> {{client.lastname}}                            </li>
                            <li class="list-group-item"><span class="properties">Email:</span> {{client.email}}</li>
                            <li class="list-group-item"><span class="properties">Region:</span> {{client.region.name}}</li>
                            <li class="list-group-item"><span class="properties">Create at:</span> {{client.createAt}}</li>
                        </ul>
                        <br>
                        <div class="input-group mb-3">
                            <input (change)="selectFile($event)" type="file" class="form-control" id="inputGroupFile04"
                                aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            <button [disabled]="!fileSelected" (click)="uploadFile()" class="btn btn-outline-secondary"
                                type="button"><span style="color: white;">Upload</span></button>
                        </div>
                        <div *ngIf="progressBar > 0" class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar"
                                [ngStyle]="{width: progressBar + '%'}" attr.aria-valuenow="{{progressBar}}"
                                aria-valuemin="0" aria-valuemax="100">
                                {{progressBar}}%</div>
                        </div>
                    </div>
                    <div class="col-6" style="padding-left: 20px; padding-right: 0;">
                        <!-- ?. asking if is not null, load the picture -->
                        <img *ngIf="client?.picture" src="http://localhost:8080/api/files/img/{{client.picture}}"
                            class="img-thumbnail rounded" alt="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="closeModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>