<!-- <div id="image" class="fixed">
    <div class="container">
    <form class="form">
        <label for="Username">Username</label>
        <input type="text">
        <label for="password">Password</label>
        <input type="text">
        <button (click)="hideImg()">Submit</button>
    </form>
</div>
</div> -->
<app-header></app-header>
<!-- <app-form></app-form> -->
<router-outlet></router-outlet>
<div style="position: absolute; bottom: 0; width: 100%;">
    <app-footer></app-footer>
</div>